# Install with: pip install -r requirements-test.txt
Django>=4.2,<5.0
django-crispy-forms>=1.13,<2
crispy-bootstrap5<0.8
django-bootstrap-modal-forms>=2.2
django-filter
pytest
pytest-django
pytest-cov
