{% load i18n %}

<div class="row mass-action-modal-content">
    {% if object_list %}
        <div class="col-md-6">
            <h4>
                {% block mass_action_modal_heading %}
                    {% if action == 'delete' %}{% trans 'Following objects will be deleted' %}{% elif action == 'update' %}{% trans 'Following objects will be updated' %}{% else %}{% trans 'Following objects will be processed' %}{% endif %}:
                {% endblock %}
            </h4>
            {% include 'massactions/mass_action_modal_object_list.html' with object_list=object_list %}
        </div>
    {% endif %}
    {% if not_allowed_object_list %}
        <div class="col-md-6">
            <h4>
                {% block mass_action_modal_not_allowed_heading %}
                    {% if action == 'delete' %}{% trans 'Missing permissions to delete' %}{% elif action == 'update' %}{% trans 'Missing permissions to update' %}{% else %}{% trans 'Missing permissions to process' %}{% endif %}:
                {% endblock %}
            </h4>
            {% include 'massactions/mass_action_modal_object_list.html' with object_list=not_allowed_object_list %}
        </div>
    {% endif %}
    {% block mass_action_modal_extra %}{% endblock %}
</div>
