<div class="modal fade crispy-modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content crispy-modal-content"></div>
    </div>
</div>

<script>
(function ($) {
    const massActionKey = '{{ mass_action_context.key|escapejs }}';
    const selector = '.mass-action-{{ mass_action_context.key|slugify }}';
    const cookieName = '{{ request.user.id }}' + '_' + massActionKey;
    const modalSettings = {
        modalID: "#modal",
        modalContent: ".crispy-modal-content",
        modalForm: ".crispy-modal-content form"
    };

    function initModalForms() {
        $(selector).each(function () {
            $(this).modalForm($.extend({}, modalSettings, {
                formURL: $(this).data('form-url'),
                initOnClick: false,
                asyncUpdate: 'false',
                errorClass: '.is-invalid, .invalid-feedback, .alert-danger',
                asyncSettings: {
                    closeOnSubmit: 'true',
                    addModalFormFunction: initModalForms
                }
            }));

            $(this).click(function (e) {
                e.preventDefault();
            });
        });
    }

    // store the current selection in the cookie first, then load the confirmation form into the modal
    function openModal(formUrl) {
        $.ajax({
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'massactions:encrypt' %}",
            dataType: "json",
            data: {
                string: sessionStorage.getItem(massActionKey)
            },
            success: function (data) {
                Cookies.set(cookieName, data.encrypted_string, {expires: new Date(new Date().getTime() + (1000 * 60 * 60))});
                showModal($.extend({}, modalSettings, {formURL: formUrl}));
            },
            error: function (data) {
                console.log('Encryption failed.', data);
            },
        });
    }

    $(document).ready(function () {
        initModalForms();
        $(selector).on('click', function () {
            openModal($(this).data('form-url'));
        });
    });
})(jQuery);
</script>
